<h2 style="text-align: center">Book List</h2>
<div class="container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Book Name</th>
                <th>Isbn</th>
                <th>Author</th>
                <th>Languaje</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.bookName}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.author}}</td>
                <td>{{book.languaje}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Options
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><button class="dropdown-item" (click)= "bookDetail(book.id)">Details</button></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><button class="dropdown-item" (click)= "deleteBook(book.id)">Delete</button></li>
                        </ul>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
