<h2>Book List</h2>
<p *ngFor= "let book in books">
    {{book.bookName}};
</p>
<div class="container">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Book Name</th>
                <th>Isbn</th>
                <th>Author</th>
                <th>Languaje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.bookName}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.author}}</td>
                <td>{{book.languaje}}</td>
            </tr>
        </tbody>
    </table>
</div>
