<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-item nav-link" [routerLink]="[ 'home']">Home</a>
                    <a class="nav-item nav-link" [routerLink]="[ 'inventory']">Inventory</a>
                    <a class="nav-item nav-link">Contacto</a>
                    </div>
                    <button *ngIf= "visibilityCreateBook()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Create Book
                      </button>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100" >Create Book</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)= "createBook()" #bookForm="ngForm" id="bookForm">
                        <div class="form_group">
                            <label>Name: </label>
                            <input type="text"
                            class="form-control"
                            id="name"
                            [(ngModel)]= "book.bookName"
                            name = "name"
                            required
                            placeholder="type name "
                            >
                        </div>
    
                        <div class="form_group">
                            <label>Isbn: </label>
                            <input type="text"
                            class="form-control"
                            id="isbn"
                            [(ngModel)]= "book.isbn"
                            name = "isbn"
                            required
                            placeholder="type isbn ">
                        </div>
    
                        <div class="form_group">
                            <label>Author: </label>
                            <input type="text"
                            class="form-control"
                            id="author"
                            [(ngModel)]= "book.author"
                            name = "author"
                            required
                            placeholder="type author ">
                        </div>
    
                        <div class="form_group">
                            <label>Languaje: </label>
                            <input type="text"
                            class="form-control"
                            id="languaje"
                            [(ngModel)]= "book.languaje"
                            name = "languaje"
                            required
                            placeholder="type languaje ">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" [disabled]= "!bookForm.form.valid" (click)= "createBook()" data-bs-dismiss="modal">Save</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
          </div>
        </div>
    </div>
</div>
